:root {
  --cell-size: 60px;

  --board-bg-color: #34568b;
  --player-yellow-chip-color-100: rgb(239, 192, 80);
  --player-yellow-chip-color-50: rgba(239, 192, 80, 0.5);
  --player-red-chip-color-100: rgb(255, 111, 97);
  --player-red-chip-color-50: rgba(255, 111, 97, 0.5);

  --column-gap: 5px;
  --column-highlight-color: rgba(255, 255, 255, 0.2);
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background-color: var(--board-bg-color);

  display: flex;
  justify-content: center;
}

.app {
  margin-top: 12px;
}

.game-over {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 12px;

  padding: 12px;
}

.game-over button {
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.game-over button:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

.board {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: var(--board-bg-color);
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--column-gap);

  padding-top: calc(var(--cell-size) * 2);
}

.board.enabled .column:hover {
  background-color: var(--column-highlight-color);
}

.board.enabled .column:hover::before {
  display: block;
  content: "";
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 50%;
  position: absolute;

  transform: translateY(calc(var(--cell-size) * -1 - var(--column-gap)));
}

.current-player-yellow .column:hover::before {
  background-color: var(--player-yellow-chip-color-100);
}

.current-player-red .column:hover::before {
  background-color: var(--player-red-chip-color-100);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 50%;
  background-color: white;
}

.cell-highlighted {
  box-sizing: border-box;
  border: 5px solid var(--won-highlight);
  animation: fade-in-out-in 1.5s infinite;
}

.cell-state-red {
  background-color: var(--player-red-chip-color-100);
}

.cell-state-yellow {
  background-color: var(--player-yellow-chip-color-100);
}

@keyframes fade-in-out-in {
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}